<%- include('../_config') _%>
<%
// ページ個別設定
page = {};
page.id = 'top';

page.title = '';
page.description = '';

page.bodyClass = [];
page.styles = [];
page.scripts = [(JS_PATH + page.id + '.js')];
page.imagesPath =  IMAGES_PATH + page.id + '/';
_%>
<%- include('../parts/_head'); %>

<ul class="list">
  <li><a href="./square-distortion/">distortion (square, shader only)</a></li>
  <!--<li><a href="./aviator/">aviator</a></li>-->
  <!--<li><a href="./taotajima/">taotajima</a></li>-->
  <!--<li><a href="./dissolve/">dissolve</a></li>-->
  <!--<li><a href="./animated-landscape/">animated-landscape</a></li>-->
</ul>

<%- include('../parts/_foot'); %>
